exportPattern("^[[:alpha:]]+")
useDynLib(crskdiag)
import(cmprsk)
importFrom("graphics", "legend", "plot", "points", "text")
importFrom("stats", "model.extract", "model.matrix", "terms")
export("diag_crr","plot.diaglin","plot.diagprop","print.diaglin","print.diagprop")
S3method(plot,diaglin)
S3method(print,diaglin)
S3method(plot,diagprop)
S3method(print,diagprop)
